body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  max-width: 620px;
}
h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  line-height: 1;
  list-style: none;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}
weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.search-form {
  margin-bottom: 20px;
}
.btn {
  border-bottom-color: rgb(251, 188, 4);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  color: rgb(32, 33, 36);
  cursor: default;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 2;
  outline-color: rgb(32, 33, 36);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 4px;
  width: 84.7969px;
  margin-bottom: 10px;
}
#current-location-btn{
  border-bottom-color: rgb(33, 136, 56);
  font-size: 16px;
  padding: 0.05rem 0.3rem;

}
.card{
border: none;
text-align: center;
 padding: 0;   
 margin: 2px;
 font-size: small;
}
